@font-face {
    font-family: "Supr";
    src: url("../Fonts/Supreme-Medium.otf") format("opentype");
}

body {
    background: rgb(2, 0, 36);
    background: radial-gradient(circle,
            rgba(2, 0, 36, 1) 0%,
            rgba(9, 9, 121, 1) 86%,
            rgba(4, 110, 131, 1) 100%);
            background-size: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.acccont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    max-width: 250px;
}

/* .acccont .credbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
} */

.creds {
    background-color: rgba(9, 9, 121, 0.637);
    border: none;
    border-radius: 3px;
    outline: none;
    margin: 10px 0;
    padding: 10px;
    color: #fff;
    /* transition: background-color 1s; */
    font-family: "Supr";
    font-size: 15px;
    transition: box-shadow 1s;
    width: 250px;
    height: 40px;
}

.creds:focus {
    box-shadow: 0 0 20px rgba(9, 9, 121, 0.575);
}

#create {
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgba(18, 18, 250, 0.637);
    font-family: "Supr";
    color: #000000;
    border: 3px solid rgb(12 12 182);
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    transition: box-shadow 1s;
    width: 100%;
}

#create:hover {
    box-shadow: 0 0 15px rgb(17, 17, 247);
}